---
import InitColorScheme from "../lib/color-scheme/InitColorScheme.astro";
import { Commands } from "../lib/Commands";
import GrainOverlay from "../lib/GrainOverlay/GrainOverlay.astro";
import { Link } from "../lib/Link";

import "../global-styles/base.css";
import "../global-styles/prose.css";
import "../global-styles/controls.css";
import "../global-styles/integrations.css";
import "../global-styles/font.css";

interface Props {
  title: string;
  activePage: "writing" | "speaking" | "about";
  description?: string;
  children: astroHTML.JSX.Element;
}

const { title, description, activePage } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.js"
    ></script>
    <!-- <link
      rel="stylesheet"
      href="../../node_modules/lite-youtube-embed/src/lite-yt-embed.css"
    />
    <script src="../../node_modules/lite-youtube-embed/src/lite-yt-embed.js"
    ></script> -->
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta
      name="description"
      content={description || "aleksandra's digital garden"}
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://aleksandra.codes/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description || "aleksandra's digital garden"}
    />
    <!-- <meta property="og:image" content="" /> -->

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="aleksandra-codes.vercel.app" />
    <meta property="twitter:url" content="https://aleksandra.codes/" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={description || "aleksandra's digital garden"}
    />
    <!-- <meta name="twitter:image" content="" /> -->

    <InitColorScheme />
  </head>
  <body>
    <div class="mx-auto flex flex-col justify-between">
      <div
        class="flex justify-between w-full border-b border-gray-400 dark:border-gray-500 text-sm px-1 text-gray-400 dark:text-gray-500"
      >
        <Link
          href="/"
          noUnderline
          class={activePage === "about"
            ? "font-semibold text-gray-600 dark:text-gray-300"
            : ""}>ABOUT</Link
        >
        <Link
          href="/writing"
          noUnderline
          class={activePage === "writing"
            ? "font-semibold text-gray-600 dark:text-gray-300"
            : ""}>WRITING</Link
        >
        <Link
          href="/speaking"
          noUnderline
          class={activePage === "speaking"
            ? "font-semibold text-gray-600 dark:text-gray-300"
            : ""}>SPEAKING</Link
        >
      </div>
      <header class="flex justify-between mx-1 items-center">
        <slot name="header-content">
          <Link class="text-sm" href="/">← back</Link>
        </slot>
        <Commands hide={activePage === "about"} client:load />
      </header>
      <slot />
      <GrainOverlay opacity={1} />
    </div>
  </body>
</html>
